body {position: relative; margin: 0; padding: 0; }

html {
  height: 100%;
}
body {
  min-height: 100%;
}

header, #main-content, footer {
	display: block;
	width: 100%;
	font-family: sans-serif;
}

#message-box, #command-space {
	background-color: #5C6166;
	color: white;
}

/* Top menu */
#top-menu {
	background-color: #A1CF64;
	color: white;
	height: 43px;
}

#user-message {
	text-align: right;
	margin-right: 10px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

#logo {
	margin-left: 15px;
	margin-top: 5px;
	position: absolute;
	font-size: 30px;
	font-weight: bold;
}

#user-message, #logo {
	display: inline;
}

/* Main Content */
#sidebar {
	width: 20%;
	margin-left: 10px;
	position: absolute;
	height: 100%;
}

#message-box {
	width: 100%;
	position: relative;
	height: 100px;
	top: 30%;
}

#display {
	width: 70%;
	margin: 10px;
	float: right;
}

nav, section {
	display: inline;
}

nav {
	top: 50px;
	text-align: center;
	position: relative; left: 0;
}

nav a {
	font: bold 1em sans-serif;
	display: block;
	border-style: solid;
	border-color: blue;
	background-color: #ACE;
}
nav a:hover {color: #fff; background-color: black;}

section {
	top: 10px;
	position: relative;
	/*border: solid;*/
	font: 13px Verdana, sans-serif;
}
section p {
	margin: 0 1em 1em;
}
section h3 {

}

section a:link {
	color: grey;
}
section a:visited {

}
section a:link:hover {

}
section a:visited:hover {

}

section>header>h1 {
	background-color: #ACE;
	text-align: right;
	font: bold 25px;
	letter-spacing: 0.5em;
	color: #000;
}

code, pre {
	color: #0f0; font: 110% monospace;
}

/* Footer */
footer {
	bottom: 0;
	position: absolute;
}

#command-content {
	margin-left: 10px;
}

#command-space {
	height: 90px;
}

#command-box{
	height: 40px;
	width: 98%;
	font-size: 14pt;
}
