/* Authored by //@author A0101642X */
body {position: relative; margin: 0; padding: 0; }

html {
  height: 100%;
}
body {
  min-height: 100%;
}

header, #main-content, footer {
	display: block;
	width: 100%;
	font-family: sans-serif;
}

#message-box, #command-space {
	background-color: #5C6166;
	color: white;
}

/* Top menu */
#top-menu {
	background-color: #A1CF64;
	color: white;
	height: 43px;
}

#user-message {
	text-align: right;
	margin-right: 10px;
	margin-top: 5px;
	right: 0px;
	position: absolute;
}

#logo {
	margin-left: 15px;
	margin-top: 5px;
	position: absolute;
	font-size: 30px;
	font-weight: bold;
}

#user-message, #logo {
	display: inline;
}

/* Main Content */
#sidebar {
	width: 20%;
	margin-left: 30px;
	margin-top: 10px;
	position: absolute;
	height: 100%;
	font-family: Verdana, sans-serif;
}

#sidebar h1 {
	font-size: 20px;
}

#message-area {
	color: black;
	font: 12px Verdana, sans-serif;
}

#message-box {
	width: 100%;
	height: 60%;
	top: 30%;
	margin-top: 30px;
}

#main-content {
	overflow: hidden;
	margin-bottom: 500px;
}

#display {
	width: 75%;
	margin: 10px;
	float: right;
}

button {
	width: 100%;
}

.table-header {
	/*border-left:solid; 
	border-right: solid; 
	border-top: solid;*/
	padding:5px 25px 5px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

.table-header:hover{
	background: #BDBDBD;
}

section{
	top: 0px;
	position: relative;
	/*border: solid;*/
	font: 13px Verdana, sans-serif;
}
section p {
	margin: 0 1em 1em;
}

code, pre {
	color: #0f0; font: 110% monospace;
}

/* Footer */
footer {
	bottom: 0px;
	position: fixed;
}

#command-content {
	margin-left: 20px;
}

#command-space {
	height: 90px;
}

#command-box{
	height: 40px;
	width: 98%;
	font-size: 14pt;
}

table th{
	text-align: left;
}

//
// Variables
// ----------------------

@gray: #333;
@gray-light: #aaa;
@gray-lighter: #eee;
@space: 40px;
@blue: #428bca;
@blue-dark: darken(@blue, 5%);

// Mixin for transition/transform
.translate(@x; @y) {
  -webkit-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y); // IE9+
          transform: translate(@x, @y);
}
.transition(@transition) {
  -webkit-transition: @transition;
          transition: @transition;
}
.transition-transform(@transition) {
  -webkit-transition: -webkit-transform @transition;
     -moz-transition: -moz-transform @transition;
       -o-transition: -o-transform @transition;
          transition: transform @transition;
}


.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
  /* top: 40em;*/
}
.btn:hover {
  background: #357ebd;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #aaaaaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal.display:before {
  display: block;
}
.modal.display .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 1px;
  border-radius: 5px;
  margin-left: -400px;
  margin-top: -120px;
  position: fixed;
  left: 35%;
  top: -400%;
  z-index: 11;
  width: 1200px;
  height: 630px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left:20px;
  padding-right: 20px;
  font-size: 12px;
}
.modal-header,
.modal-footer {
  padding: 2px 20px;
}
.modal-header {
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  font-size: 16px;
}
.modal-footer {
  border-top: #eeeeee solid 1px;
  text-align: right;
}
.modal-body, .modal-header {
	font-family: Verdana, sans-serif;
}
.modal-content {
	height: 500px;
}
/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none;
}


